---

import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import HeadOnlyLogo from '../components/HeadOnlyLogo.astro'
import ImgConfigurations from '../assets/svg/configurations.svg'
import Marca from '../assets/marca.png'
import FastConfiguration from '../assets/fast_configuration.png'
import DataConfig from '../assets/dataConfig.png'
import TextConfig from '../assets/textConfig.png'
import SupportConfig from '../assets/supportConfig.png'
import Footer from '../components/Footer.astro'

---

<Layout title="Digitalcerti">
  <HeadOnlyLogo />
  <div class='h-[20rem] bg-gradient-to-r from-primary-500 to-primary-800 pt-10'>
    <div class="m-auto lg:max-w-[75rem] flex justify-around flex-row items-center  h-full pb-3 px-4 gap-20">
      <h1 class="w-[400px] text-center text-2xl lg:text-3xl font-semibold text-slate-50">Configuraciones Personalizadas en Digitalcerti</h1>
      <Image class=' hidden md:block w-[350px]' src={ImgConfigurations} alt="beneficios" loading="lazy"   /> 
    </div>
  </div>
  <div class=" max-w-[1280px] m-auto px-6 my-20">
    <div class="flex items-center gap-5 justify-between mb-10 flex-col md:flex-row">
      <div class="flex-1"> 
        <h2 class="text-slate-800 text-2xl xl:text-3xl lg:text-4xl text-left font-semibold mb-5">Identidad de Marca</h2>
        <p class="text-slate-700">Asocia tu sistema con tu marca mediante un Dominio Web Propio (por ejemplo, certificados.tumarca.com), proporcionando una experiencia cohesiva.</p>
      </div>
      <div class="flex-1  md:flex items-center justify-center">
        <Image class='  md:block w-[250px] md:w-[350px]' src={Marca} alt="beneficios" loading="lazy"   /> 
      </div>
    </div>
    <div class="flex items-center gap-5  justify-between mb-10  flex-col-reverse md:flex-row ">
      <div class="flex-1  md:flex items-center justify-center">
        <Image class='  md:block w-[250px] md:w-[350px]' src={FastConfiguration} alt="beneficios" loading="lazy"   /> 
      </div>
      <div class="flex-1"> 
        <h2 class="text-slate-800 text-2xl xl:text-3xl lg:text-4xl text-left font-semibold mb-5">Configuración Rápida</h2>
        <p class="text-slate-700">Integración sencilla con cualquier proveedor de dominios, con activación en tan solo 1 hora, tanto para registros nuevos como existentes.</p>
      </div>
    </div>
    <div class="flex items-center gap-5  justify-between mb-10  flex-col md:flex-row">
      <div class="flex-1"> 
        <h2 class="text-slate-800 text-2xl xl:text-3xl lg:text-4xl text-left font-semibold mb-5">Flexibilidad en Datos</h2>
        <p class="text-slate-700">Personaliza los campos adicionales según tus necesidades, incluyendo Identificación, Ubicación, Email, Dirección y más. Accesible y descargable desde el Panel de Administración. Estadísticas detalladas de uso para optimizar tu enfoque.</p>
      </div>
      <div class="flex-1  md:flex items-center justify-center">
        <Image class='  md:block w-[250px] md:w-[350px]' src={DataConfig} alt="beneficios" loading="lazy"   /> 
      </div>
    </div>
    <div class="flex items-center gap-5  justify-between mb-10  flex-col-reverse md:flex-row">
      <div class="flex-1  md:flex items-center justify-center">
        <Image class='  md:block w-[250px] md:w-[350px]' src={TextConfig} alt="beneficios" loading="lazy"   /> 
      </div>
      <div class="flex-1"> 
        <h2 class="text-slate-800 text-2xl xl:text-3xl lg:text-4xl text-left font-semibold mb-5">Personalización de Textos</h2>
        <p class="text-slate-700">Adapta el sistema a tu estilo con textos personalizados. Define títulos, acciones y etiquetas que resuenen con tu audiencia. Control total sobre el Título del Formulario, opciones de envío, botones y otros elementos clave.</p>
      </div>
    </div>
    <div class="flex items-center gap-5  justify-between mb-10  flex-col md:flex-row">
      <div class="flex-1"> 
        <h2 class="text-slate-800 text-2xl xl:text-3xl lg:text-4xl text-left font-semibold mb-5">Soporte Continuo</h2>
        <p class="text-slate-700">Mantente respaldado con nuestro equipo de soporte, asegurando que todas tus configuraciones se implementen y funcionen sin problemas.</p>
      </div>
      <div class="flex-1  md:flex items-center justify-center">
        <Image class='  md:block w-[250px] md:w-[350px]' src={SupportConfig} alt="beneficios" loading="lazy"   /> 
      </div>
    </div>
  </div>
  <Footer></Footer>
</Layout>

