---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Steps from '../components/Steps.astro';
import Menu from '../components/Menu.astro'
import Client1 from '../assets/clients/logo-itep.png'
import Client2 from '../assets/clients/logo-itep-conductores.png'
import Clock from '../assets/clock.png'
import Clients from '../components/Clients.astro'
import ImgBanner from '../assets/img_banner.png'
import PricesCard from '../components/PricesCard.astro'
import Footer from '../components/Footer.astro'
import { Image } from 'astro:assets';
import Contact from '../components/contact.astro'
import ITEPClient from '../assets/ITEPClient.jpeg'

---

<Layout title="DIGITALCERTI - Sistema de certificados" descriptions="Simplifica y mejora el proceso de gestión de tus certificados con nuestra plataforma innovadora.">
	<main class='h-[40rem] bg-gradient-to-r from-primary-500 to-primary-800 pt-10' id='home'>
		<section class="m-auto lg:max-w-[75rem] flex  flex-col justify-between h-full pb-3 px-4">
			<Menu />
			<div class="my-0 m-auto lg:flex lg:justify-around">
				<div class="mt-14">
					<h1 class="text-center text-3xl lg:text-4xl font-extrabold text-white mb-6 md:w-[30rem]">La solución perfecta para administrar tus certificados</h1>
					<h2 class="text-center text-xl text-white md:w-[30rem]">Simplifica y mejora el proceso de gestión de tus certificados con nuestra plataforma innovadora.</h2>
				</div>
				<div class="max-w-sm lg:max-w-lg">
					<Image src={ImgBanner} alt="logo" loading="lazy" class='w-full' />
				</div>
			</div>
		</section>
		<section class="container" id='sistem'>
			<h3 class="text-base font-extrabold text-primary-500 text-center my-0	m-auto">Administración eficiente</h3>
			<h4 class="text-3xl font-bold text-slate-900 text-center my-0	m-auto	mt-2">Gana tiempo y eficiencia con nuestra plataforma</h4>
			<div class="grid grid-cols-1  md:grid-cols-2 lg:grid-cols-3  gap-4 mt-14" >
				<Card icon="fa-solid fa-laptop" title="Automatización eficiente" description="Simplifica la gestión de tus certificados con nuestro sistema automatizado y mejora la eficiencia de tus procesos"/>
				<Card icon="fa-solid fa-mobile-screen" title="Acceso móvil" description="Accede a tus certificados desde cualquier lugar y en cualquier momento gracias a nuestra aplicación móvil intuitiva"/>
				<Card icon="fa-solid fa-chart-simple" title="Informes y estadísticas" description="Nuestros clientes pueden acceder a informes detallados y estadísticas en tiempo real para realizar un seguimiento de sus certificados y su rendimiento"/>
				<Card icon="fa-solid fa-file" title="Gestión personalizada" description="Administra tus certificados de forma personalizada y adapta nuestro sistema a tus necesidades específicas"/>
				<Card icon="fa-solid fa-paperclip" title="Integración fácil" description="Integra nuestro sistema de gestión de certificados fácilmente con tus sistemas existentes y aumenta la productividad de tu empresa"/>
				<Card icon="fa-solid fa-headset" title="Asistencia en línea" description="Ofrecemos asistencia en línea para ayudar a Nuestros clientes a resolver cualquier problema o pregunta que puedan tener con el sistema"/>
			</div>
		</section>
		<section class=" bg-gray-100">
			<div class="lg:max-w-[75rem] m-auto flex py-[4rem] gap-16">
				<div class="flex-1">
					<h3 class="text-base font-extrabold text-primary-500 text-center my-0	m-auto">Proceso fácil</h3>
					<h4 class="text-3xl font-bold text-slate-900 text-center my-0	m-auto	mt-2">Entonces... ¿Cómo funciona?</h4>
					<div class="mt-10 flex flex-col gap-14 justify-center items-center"> 
						<Steps icon="fa-solid fa-file-arrow-up" title='Sube tus certificados' description='Sube tus certificados de forma sencilla desde cualquier lugar y dispositivo.'/>
						<Steps icon="fa-regular fa-square-check" title='Verifica tus certificados' description='Nuestro sistema verifica tus certificados automáticamente para asegurar la autenticidad y validez'/>
						<Steps icon="fa-solid fa-file-contract" title='Accede a tus certificados' description='Accede a tus certificados desde cualquier lugar y dispositivo con nuestro sistema fácil y seguro.'/>
						<Steps icon="fa-solid fa-check" title='Vamos!' description=''/>
					</div>
				</div>
				<div class="hidden lg:block flex-1">
					<Image src={Clock} alt="logo" loading="lazy" />
				</div>
			</div>
		</section>
		<section class="lg:max-w-[75rem] m-auto pt-[4.5rem] pb-[5.6rem] px-4" id="demo">
			<h3 class="text-3xl font-bold text-slate-900 text-center my-0	m-auto	mb-3">Explora nuestro sistema de gestión de certificados en acción</h3>
			<h4 class="text-sm  text-slate-800 text-center my-0	m-auto">EXPLORA Y DESCUBRE CÓMO SIMPLIFICAR LA ADMINISTRACIÓN DE TUS CERTIFICADO</h4>
			<!-- <div class="" >
				video
			</div> -->
		</section>
		<section class=" bg-gray-100" id='clients'>
			<div class="lg:max-w-[75rem] m-auto py-[4rem] gap-16 px-4">
				<h3 class="text-base font-extrabold text-primary-500 text-center my-0	m-auto">Nuestros cliente</h3>
				<h4 class="text-3xl font-bold text-slate-900 text-center my-0	m-auto	mt-2">Que dicen de nosotros críticas honestas</h4>
				<div class="mt-10 flex flex-col gap-14 justify-center items-center"> 
					<Clients img={ITEPClient} name='INSTITUTO ITEP' description='Excelente sistema de gestión de certificado, facíl de usar, organizado y con un diseño profesional. Muy safisfecho!'/>
				</div>
				<div class="flex justify-around mt-20 overflow-x-auto w-full gap-6">
					<Image src={Client1} alt="logo" loading="lazy" height={80} />
					<Image src={Client2} alt="logo" loading="lazy" height={80} />
				</div>
			</div>
		</section>
		<section class="lg:max-w-[75rem] m-auto pt-[4.5rem] pb-[5.6rem]" id='prices'>
			<h3 class="text-base font-extrabold text-primary-500 text-center my-0	m-auto">Nuestros planes</h3>
			<h4 class="text-3xl font-bold text-slate-900 text-center my-0	m-auto	mt-2 mb-16">Mejor paquete de precios, comience ahora!</h4>
			<div class="flex justify-center " >
				<PricesCard />
			</div>
		</section>
		<section class=" bg-gray-100" id='contact'>
			<Contact />
		</section>
		<Footer/>
	</main>
</Layout>
