---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Steps from '../components/Steps.astro';
import Menu from '../components/Menu.astro'

import Logo from '../assets/logo.png'
import Client1 from '../assets/client1.png'
import Client2 from '../assets/client2.png'
import Client3 from '../assets/client3.png'
import Client4 from '../assets/client4.png'
import LogoWithoutLetter from '../assets/logo-without-letter.png'
import Clock from '../assets/clock.png'
import Clients from '../components/Clients.astro'
import LogoWhite from '../assets/logo-white.png'
import ImgGirlNav from '../assets/img_girl_nav.png'
import PricesCard from '../components/PricesCard.astro'
import Footer from '../components/Footer.astro'
import { Image } from 'astro:assets';



---

<Layout title="Digitalcerti">
	<main class='h-[40rem] bg-gradient-to-r from-primary-500 to-primary-800 pt-10' id='home'>
		<section class="m-auto lg:max-w-[75rem] flex  flex-col justify-between h-full pb-3 px-4">
			<Menu />
			<div class="my-0 m-auto lg:flex lg:justify-around">
				<div class="mt-14">
					<h1 class="text-center text-3xl lg:text-4xl font-extrabold text-white mb-6 w-[30rem]">La solución perfecta para administrar tus certificados</h1>
					<h3 class="text-center text-xl text-white w-[30rem]">Simplifica y mejora el proceso de gestión de tus certificados con nuestra plataforma innovadora.</h3>
				</div>
				<div class="max-w-sm lg:max-w-lg">
					<Image src={ImgGirlNav} alt="logo" loading="lazy" class='w-full' />
				</div>
			</div>
		</section>
		<section class="px-4 lg:max-w-[75rem] m-auto pt-[4.5rem] pb-[5.6rem]" id='sistem'>
			<h2 class="text-base font-extrabold text-primary-500 text-center my-0	m-auto">Administración eficiente</h2>
			<h3 class="text-3xl font-bold text-slate-900 text-center my-0	m-auto	mt-2">Gana tiempo y eficiencia con nuestra plataforma</h3>
			<div class="grid grid-cols-1  md:grid-cols-2 lg:grid-cols-3  gap-4 mt-14" >
				<Card icon="fa-solid fa-laptop" title="Automatización eficiente" description="Simplifica la gestión de tus certificados con nuestro sistema automatizado y mejora la eficiencia de tus procesos"/>
				<Card icon="fa-solid fa-mobile-screen" title="Acceso móvil" description="Accede a tus certificados desde cualquier lugar y en cualquier momento gracias a nuestra aplicación móvil intuitiva"/>
				<Card icon="fa-solid fa-chart-simple" title="Informes y estadísticas" description="Nuestros clientes pueden acceder a informes detallados y estadísticas en tiempo real para realizar un seguimiento de sus certificados y su rendimiento"/>
				<Card icon="fa-solid fa-file" title="Gestión personalizada" description="Administra tus certificados de forma personalizada y adapta nuestro sistema a tus necesidades específicas"/>
				<Card icon="fa-solid fa-paperclip" title="Integración fácil" description="Integra nuestro sistema de gestión de certificados fácilmente con tus sistemas existentes y aumenta la productividad de tu empresa"/>
				<Card icon="fa-solid fa-headset" title="Asistencia en línea" description="Ofrecemos asistencia en línea para ayudar a Nuestros clientes a resolver cualquier problema o pregunta que puedan tener con el sistema"/>
			</div>
		</section>
		<section class=" bg-gray-100">
			<div class="lg:max-w-[75rem] m-auto flex py-[4rem] gap-16">
				<div class="flex-1">
					<h2 class="text-base font-extrabold text-primary-500 text-center my-0	m-auto">Proceso fácil</h2>
					<h3 class="text-3xl font-bold text-slate-900 text-center my-0	m-auto	mt-2">Entonces... ¿Cómo funciona?</h3>
					<div class="mt-10 flex flex-col gap-14 justify-center items-center"> 
						<Steps icon="fa-solid fa-file-arrow-up" title='Sube tus certificados' description='Sube tus certificados de forma sencilla desde cualquier lugar y dispositivo.'/>
						<Steps icon="fa-regular fa-square-check" title='Verifica tus certificados' description='Nuestro sistema verifica tus certificados automáticamente para asegurar la autenticidad y validez'/>
						<Steps icon="fa-solid fa-file-contract" title='Accede a tus certificados' description='Accede a tus certificados desde cualquier lugar y dispositivo con nuestro sistema fácil y seguro.'/>
						<Steps icon="fa-solid fa-check" title='Vamos!' description=''/>
					</div>
				</div>
				<div class="hidden lg:block flex-1">
					<Image src={Clock} alt="logo" loading="lazy" />
				</div>
			</div>
		</section>
		<section class="lg:max-w-[75rem] m-auto pt-[4.5rem] pb-[5.6rem] px-4" id="demo">
			<h3 class="text-3xl font-bold text-slate-900 text-center my-0	m-auto	mb-3">Explora nuestro sistema de gestión de certificados en acción</h3>
			<h4 class="text-sm  text-slate-800 text-center my-0	m-auto">EXPLORA Y DESCUBRE CÓMO SIMPLIFICAR LA ADMINISTRACIÓN DE TUS CERTIFICADO</h4>
			<div class="" >
				video
			</div>
		</section>
		<section class=" bg-gray-100" id='clients'>
			<div class="lg:max-w-[75rem] m-auto py-[4rem] gap-16 px-4">
				<h2 class="text-base font-extrabold text-primary-500 text-center my-0	m-auto">Nuestros cliente</h2>
				<h3 class="text-3xl font-bold text-slate-900 text-center my-0	m-auto	mt-2">Que dicen de nosotros críticas honestas</h3>
				<div class="mt-10 flex flex-col gap-14 justify-center items-center"> 
					<Clients name='Salma Bernabeu' description='Excelente sistema de gestión de certificado, facíl de usar, organizado y con un diseño profesional. Muy safisfecho!'/>
				</div>
				<div class="flex justify-around mt-20 overflow-x-auto w-full">
					<Image src={Client1} alt="logo" loading="lazy" height={80} />
					<Image src={Client2} alt="logo" loading="lazy" height={80}/>
					<Image src={Client3} alt="logo" loading="lazy" height={80}/>
					<Image src={Client4} alt="logo" loading="lazy" height={80}/>
				</div>
			</div>
		</section>
		<section class="lg:max-w-[75rem] m-auto pt-[4.5rem] pb-[5.6rem]" id='prices'>
			<h2 class="text-base font-extrabold text-primary-500 text-center my-0	m-auto">Nuestros planes</h2>
			<h3 class="text-3xl font-bold text-slate-900 text-center my-0	m-auto	mt-2 mb-16">Mejor paquete de precios, comience ahora!</h3>
			<div class="flex justify-center " >
				<PricesCard />
			</div>
		</section>
		<section class=" bg-gray-100" id='contact'>
			<div class="lg:max-w-[75rem] m-auto py-[4rem] gap-16">
				<h2 class="text-base font-extrabold text-primary-500 text-center my-0	m-auto">Contactenos</h2>
				<h3 class="text-3xl font-bold text-slate-900 text-center my-0	m-auto mt-2">¿Necesitas simplificar la gestión de certificados?</h3>
				<h3 class="text-3xl font-bold text-slate-900 text-center my-0	m-auto mt-2">Estamos aquí para ayudarte!</h3>

				<div class="lg:flex justify-center mt-20"> 
					<div class="bg-gradient-to-r from-primary-500 to-primary-800 p-10 lg:rounded-s-3xl	">
						<div class="flex gap-4 items-center mb-6">
							<Image src={LogoWithoutLetter} alt="logo" loading="lazy" height={80}/>
							<div>
								<div class="flex gap-4 items-center mb-2">
									<i class="fa-solid fa-phone text-white"></i>
									<p class="text-white">+51 992149752</p>
								</div>
								<div class="flex gap-4 items-center">
									<i class="fa-solid fa-envelope text-white"></i>
									<p class="text-white">trujillomjulia@gmail.com</p>
								</div>
							</div>
						</div>
						<div>
							<div class="flex gap-4 items-center mb-4">
								<i class="fa-solid fa-signal text-white"></i>
								<p class="text-white">Acceso desde cualquier lugar</p>
							</div>
							<div class="flex gap-4 items-center">
								<i class="fa-solid fa-headset text-white"></i>
								<p class="text-white">Disponible siempre para ayudarte</p>
							</div>
						</div>
					</div>
					<div class="bg-white py-10 px-12 lg:rounded-e-3xl">
						<form class="flex flex-col gap-6 " action="https://api.web3forms.com/submit" method="POST"  >
							<!-- <input type="hidden" name="access_key" value="c8d12656-86e0-4b4e-aefa-fcee2e29b27f"> -->
							<input type="hidden" name="access_key" value="03170827-e444-400a-8a9b-1c5c088bf155">
							<input type="hidden" name="subject" value="Contacto Digitalcerti">
							<input
								type="text"
								name="name"
								required
								placeholder="Nombre"
								class="lg:w-80 border border-slate-200 rounded-xl p-2 h-11 text-xs"
							/>
							<input
								type="email"
								name="email"
								required
								placeholder="Correo electronico"
								class="lg:w-80 border border-slate-200 rounded-xl p-2 h-11 text-xs"
							/>
							<textarea
								name="message"
								required
								placeholder="Tu mensaje"
								class="lg:w-80 border border-slate-200 rounded-xl p-2 text-xs h-36"
								rows="10"
								cols="50"
							/>
							<input type="hidden" name="redirect" value="https://web3forms.com/success">
							<div class="flex justify-end">
								<button
								type="submit"
									class="w-[8.25rem] h-[2.5rem] bg-primary-500 rounded-full text-white font-medium flex justify-center items-center cursor-pointer"
								>
									Enviar
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<Footer/>
	</main>
</Layout>

<script >

	// import { Resend } from 'resend';
	// import {SendMail} from '../components/SendMail'
	// const resend = new Resend('re_MU4eTmjc_58B498z8sFEasvwTZJa1RQRY');

	// const SendMail  = async (name, email, message) => {
	// 	console.log('entre')
	// 	const { data, error } = await resend.emails.send({
	// 		from: `${name} <onboarding@resend.dev>`,
	// 		to: ['jpaulneo2k@gmail.com'],
	// 		subject: `Contacto digitalcerti - ${email} `,
	// 		html: message,
	// 	});

	// 	console.log({ data });
	// 	if (error) {
	// 		return console.error({ error });
	// 	}

		
	// }

	// console.log('red');

	// const form = document.getElementById('miFormulario')

	// form.addEventListener('submit', async (event) => {
  //   // stop form submission
	// 		event.preventDefault();
	// 		const data = new FormData(event.target);
	// 		const name = data.get('name');
	// 		const email = data.get('email');
	// 		const message = data.get('message');
	// 		console.log(name);
	// 		console.log(email);
	// 		console.log(message);
	// 		try {
				
	// 			await SendMail(name, email, message);
	// 		} catch {}
	// });


</script>
